.wrapper
  width: 1000px
  margin: auto

  .spectrum
    margin-top: 40px

    .canvas
      display: block

    #time-based
      background: black
      display: none

    #title
      display: block
      font-size: 48px
      margin-top: 12px
      text-align: center
      font-family: monospace